.snop-list {
    box-sizing: border-box;
    padding: 20px;
    padding-top: 0px;
    display: flex;
    height: 100%;
}

.left-panel {
    &__select-control {
        display: flex;
        height: 40px;
        width: 100%;
        align-items: center;
    }
    &__tree {
        :global {
            & .next-tree-switcher {
                display: none;
            }
        }
        :global {
            & .next-tree-node .next-tree-node-inner:focus .next-tree-node-label {
                color: #333333;
                background-color: transparent;
            }

            & .next-tree-node-label-wrapper .next-tree-node-label:hover {
                background-color: transparent;
            }
        }
    }
    &__map-container {
        display: flex;
        margin: -12px;
        height: calc(100vh - 40px - 60px - 20px); //这里有点问题 高度写死
    }
}

.content-panel {
    margin-left: 20px;
    flex: 1;
    &__header {
        display: flex;
        padding: 0 20px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        & > p {
            margin: 0px;
            flex: 1;
            font-size: 14px;
            font-family: MicrosoftYaHei-Bold;
        }
    }
    &__detail-control {
        display: flex;
        font-size: 12px;
        font-weight: 400;
        align-items: center;
        > div:nth-of-type(1) {
            margin-right: 20px;
        }
    }
    &__content {
        display: flex;
        height: calc(100vh - 40px - 60px - 20px); //这里有点问题 高度写死
        margin: -12px;
        > div:not(:first-child) {
            flex: none;
        }
    }
    &__photo-list {
        display: flex;
        height: 100%;
        flex: auto;
        overflow-x: hidden;
        // overflow-y: auto;
    }
    &__photo-item {
        margin: 0 auto;
        padding: 10px;
        width: 120px;
        box-sizing: content-box;
        > img {
            box-sizing: content-box;
            width: 100%;
            height: 160px;
            border: 1px solid #000;
        }
        > span {
            display: block;
            text-align: center;
        }
        // &:last-child {
        //     margin-right: auto;
        // }
    }
}

.snop-detail {
    margin: -12px;
    overflow-x: hidden;
    overflow-y: auto;
    &__content {
        padding: 12px;
        height: calc(100vh - 40px - 60px - 20px - 40px); //这里有点问题 高度写死
        overflow-y: auto;
    }
    &__title {
        margin-bottom: 12px;
        &:not(:first-child) {
            margin-top: 20px;
        }
        :first-child {
            margin-top: 12px;
        }
    }
    &__info {
        margin-left: 12px;
        & > p > span {
            display: inline-block;
            width: 60px;
        }
    }
    &__snop {
        display: flex;
        justify-content: space-between;
        & > img {
            width: 130px;
            height: 176px;
        }
    }
    &__pre {
        & > img {
            width: 100%;
            height: 168px;
        }
    }
}
